@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";


@theme {
  --color-base: #2d2a2e;
  --color-text: #fcfcfa;
  --color-primary: #ff6188;
  --color-secondary: #fc9867;
  --color-accent: #78dce8;
  --color-success: #a9dc76; 
  --font-mono: 'IBM Plex Mono', monospace;
}

.cm-scroller::-webkit-scrollbar {
  width: 12px;
  border-radius: 12px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cm-scroller::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.cm-focused {
  outline: none !important;
}